body {
    background-color: aliceblue;
}

/* .content-box {
    background-color: bisque;
} */

li {
    list-style-type: none;
    display: inline-block;
}

.reservas {
    width: 13%;
    height: 25%;
    line-height: 250%;
    background-color: aliceblue;
    text-align: center;
    border: 5px solid grey;
    border-radius: 100px;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 130%;
}

.home {
    display: inline-block;
}

img {
    width: 5em;
    height: 5em;
    border-radius: 20px;
}

.imagen-index {
    width: 12%;
    height: 12%;
    border-radius: 40%;
}


